<div class="image">
    <img src="" alt="">
    <div class="titulo"><center>
        <h1>Biblioteca de las historias interminables</h1>
        <div class="botones">
            <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Index">Gestión de Usuarios</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Prestamos" asp-action="Index">Gestión de Prestamos</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Libros" asp-action="Index">Gestión de Libros</a>
        </div>
    </div>
    </center>
</div>