<div class="window">
    <h1>Se a eliminado correctamente.</h1>
</div>
<div class="volver">
    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Index">Volver a lista de usuarios</a>
</div>