<style>
    .detalles{
        display-flex;
        margin: 12px black solid;
    }
</style>
<div class="detalles">
    <p>Nombres : Luis</p>
    <p>Dirección: Cra: 65#34-52</p>
    <p>Correo: luis@gmail.com</p>
    <p>Telefono: 5807654</p>
    <p>Genero: M</p>
    <p>Edad: 25</p>
</div>
<br>
<div class="boton">
    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios"asp-action="Index">Volver a lista de usuarios</a>
</div>
