<div class="crear">
    <div class="libro">
        <label for="">Libro:</label>
        <input class="form-control" type="text">
    </div>
    <div class="autor">
        <label for="">Autor:</label>
        <input class="form-control" type="text">
    </div>
    <div class="generoLit">
        <label for="">Genero literario:</label>
        <input class="form-control" type="text">
    </div>
    <div class="year">
        <label for="">Año de publicación:</label>
        <input class="form-control" type="date">
    </div>
</div>
<br>
<div class="volver">
    <a class="btn btn-primary"asp-area=""asp-controller="Libros"asp-action="Index">Craer nuevo libro</a>
</div>