<div class="detalles d-felx aling-items-center">
    <p>titulo: Cien a침os de soledad</p>
    <p>Autor: Gabriel Garcia Marquez</p>
    <p>Genero literario: Realismo m치gico</p>
    <p>A침o de publicaci칩n: 1.967</p>
</div>
<div class="boton d-flex justify-content-center">
    <a class="btn btn-primary"asp-area=""asp-controller="Libros"asp-action="Index">Volver a listado de libros</a>
</div>