<div class="update">
    <div class="titulo">
        <label for="">Titulo:</label>
        <input class="form-control" type="text">
    </div>
    <div class="autor">
        <label for="">Autor:</label>
        <input class="form-control" type="text">
    </div>
    <div class="generoLit">
        <label for="">Genero literario:</label>
        <input class="form-control" type="text">
    </div>
    <div class="publicacion">
        <label for="">Año de publicación:</label>
        <input class="form-control" type="date">
    </div>
</div>
<br>
<div class="boton d-flex justify-content-center">
    <a class="btn btn-primary" asp-area=""asp-controller="Libros" asp-action="Index">Volver a lista de libros</a>
</div>