<div class="eliminar">
<h1>El pestamo se a eliminado correctamente</h1>
</div>
<div class="botn">
    <a class="btn btn-primary" asp-area="" asp-controller="Prestamos" asp-action="Index">Volver a listado de prestamo</a>
</div>