<div class="details d-flex aling-items-center flex-column">
    <p>Libro: Cien años de soledad</p>
    <p>Usario: Luis</p>
    <p>Fecha entrega: 12/02/2024</p>
    <p>Fecha devolución: 27/02/2024</p>
</div>
<br>
<div class="boton d-flex justify-content-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Prestamos"asp-action="Index">Volver a lista de prestamos</a>
</div>