<div class="update" d-flex justify-conten-center>
    <div class="libro">
        <label for="">Libro:</label>
        <input class="form-control" type="text">
    </div>
    <div class="usuario">
        <label for="">Usuario:</label>
        <input class="form-control" type="text">
    </div>
    <div class="fechaE">
        <label for="">Fecha de entrega</label>
        <input  class="form-control" type="date">
    </div>
    <div class="fechaD">
        <label for="">Fecha devolución</label>
        <input class="form-control" type="date">
    </div>
</div>
<br>
<div class="botom d-flex justify-content-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Prestamos" asp-action="Index">Volver a listado de Prestamos</a>
</div>